---
import { m } from "framer-motion"; // You can still use this for animation.
import IconWithText from '../components/IconWithText/IconWithText'; // Make sure this component is converted to Astro as well.
import { IconWithTextData_02 } from '../components/IconWithText/IconWithTextData'; // Data import stays the same.
---

<section class="py-[130px] lg:py-[90px] md:py-[75px] sm:py-[50px] bg-[#f7f8fc]">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <m.div className="col-xl-6 col-lg-7 col-sm-8 mb-20 text-center w-[51%] xl:mb-[70px] lg:mb-[65px] md:mb-[60px] sm:mb-[55px] md:w-[68%] xs:w-full">
        <span class="inline-block font-serif text-md uppercase mb-[20px] font-medium text-gradient bg-gradient-to-r from-[#556fff] via-[#e05fc4] to-[#ff798e] xs:mb-[15px]">
          our premium services
        </span>
        <h5 class="w-full mb-[20px] font-semibold text-darkgray font-serif -tracking-[1px]">
          Corporate Accounting Solutions UAE
        </h5>
      </m.div>
    </div>
    <div class="flex justify-center">
      <div class="lg:w-12/12 md:w-9/12 w-full">
        <IconWithText grid="row-cols-1 row-cols-lg-2 gap-y-10 justify-center" theme="icon-with-text-02" data={IconWithTextData_02} animation="" animationDelay={0.2} />
      </div>
    </div>
  </div>
</section>
